execute_tests
favorites
build-*
bin
lib
libandroid
libios
.DS_Store
*.pro.user*
./*.sh
./*.bat
!./build_scripts/
app_logs.txt
android-build-5.15.2-debug
.idea/
scratch-vpc-setup/
device-control.session.sql
*-debug*